@code {
    [Parameter, EditorRequired]
    public IEnumerable<ImageDto> Images { get; set; } = [];
}



<ul class="img-wrapper">
    @foreach (var image in Images)
    {
        <li>
            <ImageItem @key="image.Id" Image="image" />
        </li>
    }
</ul>