@inject I18n I18n

@code {
	[Parameter, EditorRequired]
	public bool Value { get; set; } = false;

	private bool visible = false;

	private bool init = true;

	protected override async Task OnParametersSetAsync()
	{
		if (init)
		{
			init = false;
			return;
		}

		visible = true;
		await Task.Delay(600);
		visible = false;
	}
}

@if(Value)
{
	<MBanner SingleLine Value="visible || Value">
		<div class="spinner-border text-warning center" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</MBanner>
}
else
{
	<MBanner SingleLine Value="visible">
		<MAvatar Size="40" Class="center">
			<ChildContent>
				<MIcon Color="success">mdi-check-outline</MIcon>
			</ChildContent>
		</MAvatar>
	</MBanner>
}

<style>
.center
{
	margin-left: 50%
}
</style>