@inherits LayoutComponentBase


<MApp >

    <NavMenu />

    <MAppBar App Absolute InvertedScroll ScrollTarget="#main-content">

        <!-- -->
    </MAppBar>

    <!-- 根据应用组件来调整你的内容 -->

    <MMain Class="ps-0 ms-sm-14">

        <LoadingStatusBanner />
        <ExceptionRequestBanner />

        <MContainer Fluid>
            @Body
        </MContainer>


    </MMain>

    <MBottomNavigation 
        Class="d-sm-none"
        Absolute
        HideOnScroll
        Horizontal
        ScrollTarget="#hide-on-scroll-example">
        <MButton Color="deep-purple accent-4"
                 Text>
            <span>Recents</span>

            <MIcon>mdi-history</MIcon>
        </MButton>

        <MButton Color="deep-purple accent-4"
                 Text>
            <span>Favorites</span>

            <MIcon>mdi-heart</MIcon>
        </MButton>

        <MButton Color="deep-purple accent-4"
                 Text>
            <span>Nearby</span>

            <MIcon>mdi-map-marker</MIcon>
        </MButton>
    </MBottomNavigation>
</MApp>