@page "/"
@inject I18n I18n

@code{
    [CascadingParameter]
    IStatusStorage<string> Rua { get; set; } = null!;
}

<PageTitle>SastImg - Home</PageTitle>

<h1>@I18n.T("HelloWorld")</h1>

Welcome to your new app.
