@page "/"
@inject IAlbumAPI api

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@foreach (var album in albums)
{
    <li>@album.ToString()</li>
}


@code{

    List<AlbumDto> albums = [];

    protected async override Task OnInitializedAsync()
    {
        albums = await api.GetAlbums(authorId: 1276461256283164672);
    }

}