@page "/"
@inject I18n I18n

@code{


    protected override async Task OnInitializedAsync()
    {
    }
}

<PageTitle>SastImg - Home</PageTitle>

<h1>@I18n.T("HelloWorld")</h1>

Welcome to your new app.
