@inject IAlbumAPI Api
@inject IJSRuntime JS
@inject NavigationManager Nav



@code {
    [Parameter, EditorRequired]
    public AlbumItemDto Album { get; set; }

    void Enter() => Nav.NavigateTo("albums/" + Album.Id);
}


<div class="item" @onclick="Enter">
    <MImage Src="@IAlbumAPI.GetCover(Album.Id)">
        <PlaceholderContent>
            <MRow Class="fill-height ma-0" Align="@AlignTypes.Center" Justify="@JustifyTypes.Center">
                <MProgressCircular Indeterminate></MProgressCircular>
            </MRow>
        </PlaceholderContent>
    </MImage>
</div>

<style>
    .item {
        transition: ease-in-out, 0.2s;
        max-width: 200px;
        cursor: pointer;
    }

    .item:hover {
        transform: scale(1.1);
    }
</style>
