@page "/albums"

@inject IAlbumAPI Api
@inject IJSRuntime JS
@inject DataCollectionStorage<AlbumDto> Storage

@code {
    List<AlbumDto>? albums = null;

    protected override async Task OnInitializedAsync()
    {
        if(Storage.Count == 0)
        {
            albums = await Api.GetAlbums();
            foreach (var album in albums)
            {
                Storage.Add(album);
            }
        }
    }
}

<PageTitle>SastImg - Albums</PageTitle>

@if(albums is null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var album in Storage.Items)
    {
        <AlbumItem @key="album.Id" Album="album" />
    }
}


@* <Virtualize Items="Storage.Value" Context="album">
    <ItemContent>
        <AlbumItem @key="album.Id" Album="album" />
    </ItemContent>
    <EmptyContent>
        <p><em>No albums found.</em></p>
    </EmptyContent>
    <Placeholder>
        <p><em>Loading...</em></p>
    </Placeholder>
</Virtualize> *@

