@page "/albums"

@inject IAlbumAPI Api
@inject IJSRuntime JS
@inject I18n I18n
@inject KeyDataStorage<AlbumItemDto, long> Storage

@code {
    private bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        if(Storage.Count == 0)
        {
            loading = true;
        }

        var remoteAlbums = await Api.GetAlbums();

        loading = false;

        foreach (var album in remoteAlbums)
        {
            Storage.Add(album, album.Id);
        }
    }
}

<PageTitle>SastImg - Albums</PageTitle>

<LoadingStatusBanner Value="loading"/>

<div class="list">
    @foreach (var album in Storage.Items)
    {
        <AlbumItem  Album="album.Value" />
    }
</div>


<style>
.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    column-gap: 10px;
    row-gap: 1em;
}
</style>