@page "/user/{id:long}"
@attribute [Authorize]

@inject I18n I18n
@inject IUserAPI UserApi
@inject IImageAPI ImageApi
@inject IAlbumAPI AlbumApi
@inject IStatusStorage<ExceptionRequest> ExceptionRequest


@code {
    [Parameter]
    public long Id { get; set; }

    [CascadingParameter(Name = "loading")]
    public IStatusStorage<bool> Loading { get; set; } = null!;

    private UserProfileDto profile;
    private ImageDto[] images = [];
    private AlbumDto[] albums = [];


    protected override async Task OnInitializedAsync()
    {
        Loading.Value = true;

        var profileResponse = await UserApi.GetProfile(Id);

        if (profileResponse.IsSuccessStatusCode)
        {
            profile = profileResponse.Content;
        }
        else
        {
            ExceptionRequest.Value = new()
                {
                    Message = "Failed to get profile.",
                    StatusCode = profileResponse.StatusCode
                };
        }

        var imagesResponse = await ImageApi.GetImages(uploader: Id);

        if (profileResponse.IsSuccessStatusCode)
        {
            images = imagesResponse.Content ?? [];
        }
        else
        {
            ExceptionRequest.Value = new()
                {
                    Message = "Failed to get user images.",
                    StatusCode = profileResponse.StatusCode
                };
        }

        var albumsResponse = await AlbumApi.GetAlbums(author: Id);

        if (albumsResponse.IsSuccessStatusCode)
        {
            albums = albumsResponse.Content ?? [];
        }
        else
        {
            ExceptionRequest.Value = new()
                {
                    Message = "Failed to get user albums.",
                    StatusCode = albumsResponse.StatusCode
                };
        }

        Loading.Value = false;

    }
}

<PageTitle>SastImg - @profile.Username</PageTitle>


<div class="header">
    <UserPageHeader Id="Id" />
</div>

<div class="avatar">
    <UserPageAvatar Id="Id" />
</div>

<div class="text-center">
    <UserPageProfile Profile="profile" />
</div>

<MTabs>
    <MTab>
        <MIcon>mdi-image-outline</MIcon>
        @I18n.T("images", false, "Images")
    </MTab>
    <MTab>
        <MIcon>mdi-image-album</MIcon>
        @I18n.T("albums", false, defaultValue: "Albums")
    </MTab>

    <MTabItem>
        <div style="height: 20px;"></div>
        <ImageList Images="images" />
    </MTabItem>

    <MTabItem>
        <div style="height: 20px;"></div>
        <AlbumList Albums="albums" />
    </MTabItem>

</MTabs>





<style>
    .header {
        position: relative;
        margin-bottom: 80px;
    }

    .avatar {
        top: 15vh;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
</style>
