@attribute [Authorize]
@page "/user/{id:long}"
@inject I18n I18n
@inject IStatusStorage<AuthState> AuthState

@code {
    [Parameter]
    public long Id { get; set; }

    private IBrowserFile File { get; set; } = null!;


}

<div class="header">
    <UserPageHeader Id="Id" />
</div>

<div class="avatar">
    <UserPageAvatar Id="Id" />
</div>

<div class="text-center">
    <UserPageProfile Id="Id" />
</div>





<style>
    .header {
        position: relative;
        margin-bottom: 80px;
    }

    .avatar {
        top: 15vh;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
</style>
