@using Refit
@inject IStatusStorage<AuthState> AuthState
@inject IStatusStorage<ExceptionRequest> ExceptionRequest
@inject IUserAPI API


@code {
    [CascadingParameter(Name = "loading")]
    public IStatusStorage<bool> Loading { get; set; } = null!;

    [CascadingParameter(Name = "avatar")]
    public IStatusStorage<string> Avatar { get; set; } = null!;


    [Parameter]
    public long Id { get; set; }


    private async Task UploadAsync(InputFileChangeEventArgs e)
    {

        if (e.File.Size > 1024 * 1024 * 3)
        {
            ExceptionRequest.Value = new()
                {
                    Message = "File size must be less than 3MB",
                    StatusCode = System.Net.HttpStatusCode.BadRequest
                };


            return;
        }

        Loading.Value = true;

        await using var stream = e.File.OpenReadStream();
        StreamPart file = new(stream, e.File.Name, e.File.ContentType);
        var result = await API.UploadAvatar(file);


        if (result.IsSuccessStatusCode == false)
            ExceptionRequest.Value = new()
                {
                    Message = "Failed to upload avatar",
                    StatusCode = result.StatusCode
                };

        Loading.Value = false;

        Avatar.Value = IUserAPI.GetAvatar(Id) + $"?t={DateTime.UtcNow.Ticks}";
    }
}


@if (AuthState.Value.Id == Id)
{
    <div>
        <InputFile id="file" style="display: none;" OnChange="UploadAsync" accept="image/*" />
        <label for="file" class="editable-avatar">
            <MAvatar Size="160">
                <MImage Src="@Avatar.Value">
                </MImage>
            </MAvatar>
        </label>
    </div>
}
else
{
    <div>
        <MAvatar Size="160">
            <MImage Src="@IUserAPI.GetAvatar(Id)">
            </MImage>
        </MAvatar>
    </div>
}

<style>
    .editable-avatar {
        cursor: pointer;
        transition: all 0.3s;
    }

    .editable-avatar:hover {
        scale: 1.05;
    }
</style>