@attribute [Authorize]
@page "/user/{id:long}"
@inject I18n I18n
@inject AuthStateProvider Auth
@inject NavigationManager Nav
@inject IStatusStorage<AuthState> AuthState

@code {
    [Parameter]
    public long Id { get; set; }

    private IBrowserFile File { get; set; } = null!;

    private Task LogoutAsync()
    {
        var task = Auth.SetTokenAsync(null);
        Nav.NavigateTo("/login", replace: true);
        return task;
    }
}

<div class="header">
    <UserPageHeader Id="Id" />
</div>

<div class="avatar">
    <UserPageAvatar Id="Id" />
</div>



<MButton OnClick="() => LogoutAsync()">
    @I18n.T("logout")
</MButton>

<style>
    .header {
        position: relative;
    }

    .avatar {
        top: 15vh;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
</style>
